<p id="notice"><%= notice %></p>

<h1>Listing My Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Cell</th>
      <th>Category</th>
      <th>Gender</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_registrations.each do |my_registration| %>
      <tr>
        <td><%= my_registration.name %></td>
        <td><%= my_registration.email %></td>
        <td><%= my_registration.cell %></td>
        <td><%= my_registration.category %></td>
        <td><%= my_registration.gender %></td>
        <td><%= my_registration.subject %></td>
        <td><%= link_to 'Show', my_registration %></td>
        <td><%= link_to 'Edit', edit_my_registration_path(my_registration) %></td>
        <td><%= link_to 'Destroy', my_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My registration', new_my_registration_path %>
