<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @my_registration.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @my_registration.email %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @my_registration.cell %>
</p>

<p>
  <strong>Category:</strong>
  <%= @my_registration.category %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @my_registration.gender %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @my_registration.subject %>
</p>

<%= link_to 'Edit', edit_my_registration_path(@my_registration) %> |
<%= link_to 'Back', my_registrations_path %>
